* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
}

main {
  background-color: #f5f5f5;
  max-width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roll-btn {
  width: 150px;
  height: 35.84px;
  flex-shrink: 0;
  background-color: #5035ff;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  font-family: Karla;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
}

.roll-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.die-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

.die {
  color: #2b283a;
  background: white;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 3.813px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-num {
  font-size: xx-large;
}
